<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='catalogo.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="origem">GARAGE 24</h1> 
        <nav class="menu">
            <ul class="menu">
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="/">Voltar ao Início</a></li>
                <li><a href="/relatorio" target="_blank">Relatório PDF</a></li>
            </ul>
        </nav>
    </header> 
    <hr>

    <form id="form-filtro">
    <input type="text" placeholder="Buscar pelo modelo" id="filtro">
</form>


    <div id="cards">
        {% for carro in carros %}
            <div class="card">
                <img src="{{ carro.imagem }}" alt="">
                <p class="modelo">{{ carro.modelo }}</p> <!-- Classe importante -->
                <p class="ano">{{ carro.ano }}</p>
                <p class="intro">A partir de:</p>
                <p class="preco">Por: R$ {{ carro.preco }},00</p>
            </div>
        {% else %}
            <p>Nenhum carro cadastrado ainda.</p>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='catalogo.js') }}"></script>
</body>
<footer>Garage 24 © 2025 — Projeto demonstrativo</footer>
</html>
